nav {
    height: 12%;
}

#nav_button {
    font-size: 24px;
}

#navbarColor01 {
    margin-left: 20%;
    font-size: 24px;
}

.content {
    width: 100%;
    height: 100%;
}

#image_intro {
    width: 20%;
    height: 20%;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 30px;
    float: left;
}

.text_about {
    padding-top: 80px;
    width: 90%;
}

.text_edication {
    margin-left: 1%;
}

.footer {
    margin-top: 80px;
}

#footer_nav {
    display:flex;
    justify-content: center;
    align-items: center;
}
