{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block title %}
    {% endblock %}
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" alt="Logo" id="logo_image"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto" id="nav_link">
                        <li class="nav-item">
                            <a class="nav-link active" href="/"><button type="button" class="btn btn-outline-info" id="nav_button">About Me</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portfolio"><button type="button" class="btn btn-outline-info" id="nav_button">Portfolio</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact"><button type="button" class="btn btn-outline-info" id="nav_button">Contact</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/future"><button type="button" class="btn btn-outline-info" id="nav_button">In the future</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
    
    <div class="footer">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="footer_nav">
            <div class="image_logo_contact">
                <a href="https://www.instagram.com/rakova9opuxol/" class="link_contact"><img src="{% static 'images/instagram_logo.png' %}" alt="" class="img_contact"></a>
                <a href="https://t.me/insearchofmyself666" class="link_contact"><img src="{% static 'images/telegram_logo.png' %}" alt="" class="img_contact"></a>
                <a href="https://vk.com/luc143r" class="link_contact"><img src="{% static 'images/vk_logo.png' %}" alt="" class="img_contact"></a>
                <a href="https://discord.gg/XVtXuj6bxW" class="link_contact"><img src="{% static 'images/discord_logo.png' %}" alt="" class="img_contact"></a>
                <a href="https://github.com/Luc143r" class="link_contact"><img src="{% static 'images/github_logo.png' %}" alt="" class="img_contact"></a>
            </div>
        </nav>
    </div>
</body>
</html>