{% extends 'about_page/base.html' %}
{% load static %}

{% block title %}

    <title>Luc134r | Contact</title>

{% endblock %}

{% block content %}

    <div class="content_contact">
        <h1 id="title_contact" class="focus-in-expand-fwd">Contact!</h1>
        <div class="block_contact">
            <div id="block_telegram" class="slide-in-right">
                <h2 class="head_block_l">TELEGRAM</h2>
                <h3 class="content_block"><a class="link_block_contact" href="https://t.me/insearchofmyself666">https://t.me/insearchofmyself666</a></h3>
            </div>
            <div id="block_instagram" class="slide-in-left">
                <h3 class="content_block"><a class="link_block_contact" href="https://www.instagram.com/rakova9opuxol/">https://www.instagram.com/rakova9opuxol/</a></h3>
                <h2 class="head_block_r">INSTAGRAM</h2>
            </div>
            <div id="block_vk" class="slide-in-right">
                <h2 class="head_block_l">VK</h2>
                <h3 class="content_block"><a class="link_block_contact" href="https://vk.com/luc143r">https://vk.com/luc143r</a></h3>
            </div>
            <div id="block_github" class="slide-in-left">
                <h3 class="content_block"><a class="link_block_contact" href="https://github.com/Luc143r">https://github.com/Luc143r</a></h3>
                <h2 class="head_block_r">GITHUB</h2>
            </div>
        </div>
    </div>

{% endblock %}