{% extends 'about_page/base.html' %}
{% load static %}

{% block title %}

    <title>Luc134r | In the future</title>

{% endblock %}

{% block content %}


    <div class="future_content">
        <h1 id="title_future" class="bounce-in-top">Future plans</h1>
        <h3 id="content_future" class="bounce-in-bottom">At the moment I am learning the Django framework, doing layout, improving my knowledge of the English language.
            <br>In the future, I plan to find a job in the field of backend development on Django, to be in demand and a successful IT specialist.</h3>
    </div>

{% endblock %}