{% extends 'about_page/base.html' %}
{% load static %}

{% block title %}

    <title>Luc134r | In the future</title>

{% endblock %}

{% block content %}


    <div class="future_content">
        <h1 class="title_future">Future plans</h1>
        <p>At the moment I am learning the Django framework, doing layout, improving my knowledge of the English language.
            In the future, I plan to find a job in the field of backend development on Django, to be in demand and a successful IT specialist. </p>
    </div>

{% endblock %}