{% extends 'about_page/base.html' %}
{% load static %}

{% block title %}

    <title>Luc134r</title>

{% endblock %}


{% block content %}

    <div class="content">
        <div class="intro_content">
            <h1 class="first_text_intro">This is Luc<span
                class="txt-rotate"
                data-period="2000"
                data-rotate='["ifer", "1fer", "14er", "143r"]'></span>
            </h1>
            <h2 class="secondary_text_intro">Junior Python developer.</h2>
        </div>
    </div>

{% endblock %}